{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">
  <div class="col-md-8 col-sm-6 col-xs-12" style="width:95%">


              <!-- <div class="panel panel-default" > -->

              <div class="filter_row row marl">
                <div class="col-md-12">
                  <a href="clients/list">CLIENTS</a><br>

                        <a href="contacts/list">CONTACTS</a><br>
                        <a href="cases/list">CASES</a>
                      </center>



            {% endblock %}
            {% block js_block %}
              <script src="{% static 'js/cases/view_case.js' %}"></script>
              <script src="{% static 'js/cases/create_case.js' %}"></script>
            {% endblock js_block %}
