{% extends 'base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block content %}

    <div class="container">
      <div class="col-md-8 col-sm-6 col-xs-12" style="width:95%">

        <div class="create_new text-right">
          <a href="{% url 'cases:add_case' %}"><i class="fa fa-plus"></i></a>
        </div>
      </div>
      <center>
        <h3>Cases</h3>
      </center>

        <form id="cases_filter" method="POST" action="" >{% csrf_token %}
          <div class="panel-content">
            <div class="filter_col col-md-12">
              <center>
                <h4>Search</h4>
              </center>
              <div class="form-group">

                <input type="text" class="form-control" placeholder="Name" name="name" value="{{request.POST.name}}">

              <input type="text" class="form-control" placeholder="Type" name="ctype" value="{{request.POST.ctype}}">
              <input type="text" class="form-control" placeholder="Case Description" name="desc" value="{{request.POST.desc}}">
            </div>
          </div>

            </div>

            <input type="hidden" id="per_page_field" name="per_page">
            <div class="filter_col text-center">
              <div class="form-group">
                <button class="btn btn-round btn-dropdown-toggle" id="filter_click" type="submit">Search</button>
                <a href="{% url 'cases:list' %}" id="filter_clear" class="btn btn-round btn-default">Clear</a>
              </div>
            </div>
          </div>
        </form>
        <br clear="all">
        </div>
      </div>
    </div>

  <!-- filter_row ends here -->
  <!-- cases_list starts here -->
  <div class="container">
  <div class="col-md-8 col-sm-6 col-xs-12" style="width:100%">
  <!-- <div class="panel panel-default"> -->
      <div class="panel panel-default">
        <div class="panel-heading-list text-center">
          <h4>CASE LIST<h4>

        </div>
        <!-- <div class="panel-content"> -->
          <table class="table table-bordered table-striped table-condensed" id="multiselect">
            <thead>
              <tr>

                <th width="20%" style="text-align:center;">Name</th>
                <th width="20%" style="text-align:center;">Case Type</th>
                <th width="15%" style="text-align:center;">Status</th>

                <th width="25%" style="text-align:center;">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% if per_page %}
                {% paginate per_page cases %}
              {% else%}
                {% paginate 10 cases%}
              {% endif %}
              {% for case in cases %}
              <tr class="case_row{{case.id}}" style="text-align:center;">

                <td><a href="{% url 'cases:view_case' case.id %}">{{ case.name }}</a></td>
                <td>
                  {% if case.case_type %}
                    {{ case.case_type }}
                  {% else %}
                    Not Set
                  {% endif %}
                </td>
                <td id="status_id{{case.id}}" status="{{case.status}}">{{ case.status }}</td>

                <td>
                  <div class="dropdown">
                      <!-- <button class="btn btn-round btn-dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> -->
                        <p id="dropdownMenu1" data-toggle="dropdown">Options
                        <span class="caret" ></span></p>
                      <!-- </button> -->
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{% url 'cases:view_case' case.id %}">View</a></li>
                        <li><a href="{% url 'cases:edit_case' case.id %}">Edit</a></li>
                        <li><a onclick="remove_case({{case.id}}, '{% url 'cases:remove_case' case.id %}')">Remove</a></li>
                        <li><a onclick="close_case({{case.id}}, '{% url 'cases:close_case' %}')">Close</a></li>
                      </ul>
                    </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% ifequal cases|length 0 %}
            <h4 class="text-center">No Cases Records Found</h4>
          {% endifequal %}
          <div class="marl row text-center">
            {% show_pages %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- cases_list ends here -->
</div>
<!-- main_container ends here -->
{% endblock %}
{% block js_block %}
  <script src="{% static 'js/cases/cases.js' %}"></script>
{% endblock js_block %}
